/** Section jobs-search */
.jobsSearch {
    margin: 0;
    padding: 0;
    height: auto !important;

    h1 {
        font-size: 2.5rem;
        margin-bottom: .25rem;
    }

    p {
        font-size: 1.125rem;
        color: var(--text-muted);
        margin-bottom: 1.5rem;
    }

    .formSearchJob {
        background: var(--input-bg);
        padding: .25rem .5rem;
    }

    .searchFilters {
        display: flex;
        flex-wrap: wrap;
        margin-top: .5rem;
        gap: 1.5rem;

        

    }

    form {
        width: 100%;
        max-width: 1280px;
    }

    form div {
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .searchFilters select {
        background-color: var(--input-bg);
        color: var(--text-primary);
        height: 30px;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
    }

    .searchFilters option {
        text-align: start;
    }
}