@import "../index.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh;
    margin: 100px auto; */
}

.titleLogin {
    justify-content: center;
    margin-top: 2rem;
    color: var(--text-primary);
}

.containerLogin {
    background-color: var(--card-bg);
    max-width: 650px;
    margin: 50px auto;
    border: 1px solid var(--shadow);
    border-radius: 25px;
}

.formLogin {
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    width: 100%;

    .formInput {
        color: var(--text-secondary);
        background-color: var(--background);
        padding: 0.75rem;
        border-radius: 5px;
        border: 1px solid var(--shadow);
        font-size: 20px;
        margin-bottom: 25px;

    }
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--primary-hover);
    color: white;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-light);
}

.check {
    background-color: inherit;
    border-radius: 0;
    border: none;
    box-shadow: none;

    input {
        margin: 0;
    }
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: inherit;
    box-shadow: none;
    color: #9ca3af;
    /* gris suave */
    margin: 2rem 0;
}

.navLink {
    color: var(--text-muted);
    text-decoration: none;
    font-weight: 500;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #374151;
    /* color de la línea */
}

.divider::before {
    margin-right: 1rem;
}

.divider::after {
    margin-left: 1rem;
}

.typeBtn {
    display: flex;
    justify-content: center;
    box-shadow: none;

    button {
        background-color: var(--background);
        /* font-size: 20px; */
        /* flex: 1; */
        /* ambos ocupan el mismo ancho */
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid #2a3a4d;
        color: #cbd5e1;
        text-align: left;

        /* white-space: normal; */
        /* permite salto de línea */
        word-break: break-word;
        /* evita overflow */
    }
}