* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

.container {
    background-color: var(--shadow);
    border-radius: 15px;
    max-width: 1280px;
    margin: 50px auto;
    padding: 32px;
    /* centrado */

    header {
        background-color: initial;
    }

}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName {
    font-size: 1.5rem;
    font-weight: bold;
}

.correo {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.personalInfo {
    .info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .infoGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 1.5rem;
    }

    .label {
        display: block;
        font-size: 0.85rem;
        color: #9ca3af;
        /* gris suave */
        margin-bottom: 0.3rem;
    }
}

.content {
    padding: 2rem 2rem;

}

.title {
    font-size: 1.75rem;
    font-weight: bold;
}

.experience {
    margin-top: 40px;

    .jobs {
        border-bottom: #4b5563 1px solid;
        padding: 1.5rem 0;
    }

    .titleJob {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .company {
        font-size: 1rem;
        color: #6b7280;
        /* gris medio */
        margin: 0.5rem 0;
    }

    .description {
        font-size: 0.95rem;
        color: #4b5563;
        /* gris oscuro */
    }
}

.skills {
    padding: 24px 0;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;



    h4 {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100px;
        background-color: var(--primary-light);
        font-size: 14px;
        border: #4b5563 1px solid;
        color: var(--primary-dark);
        padding: 0.5rem;
        border-radius: 20px;
        font-weight: 700;
    }

}